html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.4;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  overflow: auto;
}
body,
#root {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.container-body {
  overflow: visible;
}
/* Button Chat */
.container-button-chat {
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 8;
  bottom: 50px;
  right: 25px;
  border-radius: 50%;
}
.button-chat {
  float: left !important;
  position: relative !important;
  width: 70px !important;
  height: 70px !important;
  color: #fff;
  text-align: center !important;
  font-family: roboto;
  font-size: 12px !important;
  font-weight: 700 !important;
  padding-top: 46px !important;
  background-image: url(/images/chat-img.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 10px !important;
  background-size: 58% auto !important;
  border-radius: 25% 25% 0 25% !important;
  background-color: #cacaca !important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3) !important;
  transition: all 0.2s ease-in-out;
}

.button-chat:hover {
  color: #fff;
  background-color: #cacaca !important;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3) !important;
}
/* Login section */
.login-section-wrapper.hidden {
  visibility: hidden;
  transform: translateX(1000px);
  overflow: hidden;
}
.login-section-wrapper {
  visibility: visible;
  display: flex;
  justify-content: center;
  color: #fff;
  line-height: 1;
  position: fixed;
  width: 100vw;
  z-index: 30;
  overflow: auto;
  padding: 20px 15px;
  top: 0;
  height: 100vh;
  transform: translateX(0);
  background: linear-gradient(
    45deg,
    #000 0,
    rgb(141, 141, 141) 60%,
    rgb(235, 234, 234) 100%
  );
  transition: all 0.4s ease-in-out;
  overflow: hidden !important;
}
.button-close {
  position: absolute;
  right: 4%;
  top: 2%;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1;
}

.login-section {
  max-width: 550px;
  text-align: center;
  width: 550px;
}
.login-section img {
  min-width: 180px;
  max-width: 180px;
  vertical-align: middle;
}

.segments-login-tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.segments-login-tabs a {
  display: inline-block;
  padding: 21px 40px;
  border-radius: 30px;
  color: #fff;
  outline: 0;
  font-weight: 400;
  font-size: 1.4em;
  transition: background-color 0.5s ease-out;
}
.segments-login-tabs span > i {
  font-weight: 100;
  font-size: 0.8em;
}
.segments-login-tabs a:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2);
}
.segments-login-tabs a.active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.segments-login-content {
  height: auto;
  width: auto;
  opacity: 1;
  position: static;
  display: block;
}
.segment-description span {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: roboto;
  font-size: 3.2rem;
  font-weight: 300;
  display: block;
  line-height: 1.1;
}
.segment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 0;
}

.segment-form input {
  border-width: 0;
  border-radius: 4px;
  padding: 20px 15px;
  width: 50%;
  min-width: 232px;
  margin-bottom: 15px;
  color: #0101014d;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #fff;
}
.access {
  color: #fff;
  background-color: #9e9e9e;
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: 400;
  border-width: 0;
  border-radius: 4px;
  padding: 20px 15px;
  width: 50%;
  min-width: 232px;
  margin-bottom: 15px;
  cursor: pointer;
}
.segment-form a {
  color: #fff !important;
  font-weight: bold;
}
.segment-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.segment-links a {
  color: #fff !important;
  font-weight: 100;
  font-size: 0.9rem;
}
.segment-links a > span {
  font-size: 1.05rem;
  font-weight: bold;
}
.segment-links > span {
  height: 25px;
  background: #fff;
  width: 2px;
}
.lockIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.lockIcon i {
  font-size: 0.9em !important;
  padding-left: 3px;
  padding-top: 8px;
}
/* Header rules */
.header {
  position: -ms-device-fixed;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 25;
  /* transition: 1s linear; */
}
.header-wrapper-top {
  display: flex;
  border: 0;
  padding: 0;
}
.header-wrapper-bottom.hidden {
  visibility: hidden;
  height: 0;
}
.header-wrapper-bottom {
  visibility: visible;
  position: relative;
  background: rgb(187, 187, 187);
  height: 100vh;
  z-index: 5;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s linear;
}

.button-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid #003b7b;
  cursor: pointer;
  width: 10%;
}
.button-hamburger span {
  width: 30px;
  background-color: #000;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}
.button-hamburger.clicked span {
  transition: all 0.5s ease;
}
.button-hamburger span:nth-child(2) {
  margin: 7px 0;
}

.button-hamburger.clicked span:nth-child(1) {
  margin-top: 0.35rem;
  transform: rotate(-45deg);
}
.button-hamburger.clicked span:nth-child(2) {
  margin: 0;
  background: 0;
}
.button-hamburger.clicked span:nth-child(3) {
  margin-top: -0.35rem;
  transform: rotate(45deg);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 15px;
  flex-grow: 2;
}

.logo {
  margin-top: 3px;
  width: 150px;
}
.logo img {
  width: 100%;
}

.button-login {
  background-color: rgb(54, 54, 54);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  outline: 0;
  position: relative;
  z-index: 2;
  font-weight: 500;
  cursor: pointer;
}
.button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  /* padding: 5px; */
}

.segments-container {
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.segments-tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.segment-tab {
  color: #fff;
  padding: 13px 70px;
  display: inline-block;
  text-decoration: none !important;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1em;
}
.segment-tab.active,
.segment-tab:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.segments-list {
  margin-top: 45px;
  height: auto;
  width: auto;
  opacity: 1;
  position: static;
  display: block;
}
.segments-products {
  padding-left: 60px;
  list-style-type: none;
}
.segments-products li {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  font-variant: normal;
  margin-right: 10px;
  text-align: center;
}

.segments-products li i {
  font-size: 2em;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
  color: #000;
}
.segments-products li p {
  cursor: pointer;
}

.segment-footer {
  display: flex;
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 75px 0 0 0;
  padding: 0 0 86px 0;
}
.segment-footer li:first-child,
.segment-footer li:last-child {
  cursor: pointer;
}
.segment-footer li:first-child:hover,
.segment-footer li:last-child:hover {
  color: #fff;
}
.segment-footer li:nth-child(2) {
  width: 2px;
  height: 40px;
  background: #fff;
}

/* Slider rules */
.slider-wrapper {
  display: block;
  position: relative;
  height: 550px;
}
.slider {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  backface-visibility: hidden;
}
.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-sizing: content-box;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  transition: all 0.7s;
}

.slide-1-wrapper {
  /* background-position: 60% 40%; */
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  background-image: url(./images/slider-image-1.png);
  display: flex;
  align-items: center;
}
.slide-1-content-wrapper,
.slide-2-content-wrapper,
.slide-3-content-wrapper {
  display: flex;
  width: 750px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.slide-1-content {
  width: 40%;
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
}

.slide-2-wrapper {
  background-position: 100%;
  height: 100%;
  width: 100vw;
  background-image: url(./images/slider-image-2.jpg);
  display: flex;
  align-items: center;
}

.slide-3-wrapper {
  background-position: 15% 22%;
  width: 100vw;
  height: 100%;
  background-image: url(./images/slider-image-3.jpg);
  display: flex;
  align-items: center;
}

.slide-2-content {
  width: 40%;
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
}

.slide-3-content {
  width: 40%;
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
}

.slide-1-content img {
  padding-bottom: 15px;
}
.slide-1-content h3,
.slide-2-content h3,
.slide-3-content h3 {
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #000;
}
.slide-2-content p,
.slide-3-content p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 22px;
}

.slider-btn {
  margin-top: 20px;
  background: #31ac00;
  color: #fff;
  border-radius: 25px 0;
  padding: 22px 40px;
  display: inline-block !important;
  font-size: 1.2em;
  font-family: "roboto" !important;
  font-weight: 500;
}
.slider-btn:hover {
  background: #2b9900;
  color: #fff !important;
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  width: 27px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 10;
  font-size: 3.2em;
  height: 44px;
  margin-top: -22px;
}
.btn-prev {
  left: 4% !important;
}
.btn-next {
  right: 4%;
  left: auto;
}

.slider-dots {
  position: absolute;
  text-align: center;
  z-index: 10;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.slider-dot {
  margin: 0 4px;
  background: transparent;
  width: 15px;
  height: 15px;
  opacity: 1;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.slider-dot.active {
  background: #000;
}
.slide {
  opacity: 0;
}
.slide.active {
  opacity: 1;
}
/* Sticky footer */
.footer-sticky {
  background: rgb(54, 54, 54);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  height: 43px;
}
.footer-sticky-nav {
  display: flex;
  justify-content: space-between;
}
.footer-sticky-menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.footer-sticky-menu li {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 15px;
}
.footer-sticky-menu i {
  /* margin: 10px; */
  font-weight: 400;
  font-size: 1.5em !important;
}
.footer-sticky-menu li > span {
  /* margin: 10px; */
  font-weight: 600;
  font-size: 4.2em;
  padding-top: 22px;
  color: #31ac00 !important;
}

.info-list.hidden {
  height: 0;
}

.info-list {
  padding: 0;
  margin: 0;
  height: 0;
  left: -20px;
  position: absolute;
  width: 250px;
  background-color: #fff;
  color: #727272;
  z-index: 2;
  bottom: 43px;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
  font-size: 1.05em;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(29, 26, 26, 0.1);
  transition: height 0.5s ease-in;
}
.footer-sticky-menu li:hover .info-list {
  height: auto;
  transition: height 0.5s ease-in;
}
.info-list li:hover {
  background-color: rgba(0, 0, 0, 0.808);
  color: #fff !important;
}
.info-list li > a {
  color: inherit !important;
}

.info-list li {
  border-bottom: 1px solid #a2a2a2;
}
.info-list li:last-child {
  border: none;
}

#redes {
  display: flex;
  justify-content: space-between;
}

#redes:hover {
  background-color: inherit !important;
  color: inherit !important;
}

#redes a:hover {
  color: #000 !important;
}

.negocios:hover {
  background-color: #ac9d8c !important;
}

/* Footer rules */
.footer {
  display: block;
  background-color: rgb(54, 54, 54);
  padding: 30px 0 50px 0;
}
.footer-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-legal {
  display: flex;
  color: #fff;
  justify-content: space-between;
  font-size: 0.9em;
  margin-top: 35px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}
.footer-legal a {
  color: inherit !important;
}

.footer-legal a:hover {
  color: #fff !important;
}
.footer-wrapper > div {
  width: 330px;
}
.footer-wrapper > div > p {
  color: #fff;
  font-family: "Roboto";
  font-size: 1.9em;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 0;
}
.footer-wrapper > div > ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.footer-wrapper > div > ul ul {
  list-style: none !important;
}
.footer-wrapper > div > ul > li {
  padding-bottom: 10px;
}
.footer-wrapper > div a {
  color: #fff;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Roboto";
  font-size: 1.3em !important;
  font-weight: 300 !important;
}
.footer-wrapper > div a i {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0.6em !important;
}
.phone.icon {
  transform: rotate(90deg);
}
.phone.icon.inv {
  color: transparent;
}
.footer-wrapper > div span {
  color: #fff;
  margin-left: 20px;
  font-size: 0.9em;
}

.footer-wrapper .angle.right.icon {
  font-weight: 100 !important;
  font-size: 1.1em !important;
}
