.accomplish-wrapper {
  display: block;
}

.accomplish-section {
  display: flex;
  padding: 50px 15px;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.accomplish-info {
  flex: 1;
}

.accomplish-info h2 {
  color: #000;
  font-family: "Roboto";
  font-size: 1.9em;
  font-weight: 400;
  margin: 35px 0 0 0;
}

.accomplish-info p {
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.4;
  margin: 20px 0;
  padding-right: 20px;
  color: #808080;
}

.accomplish-links {
  display: flex;
  flex-direction: column;
}

.accomplish-links a {
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  color: #31ac00 !important;
  display: inline-flex;
  align-items: baseline;
}

.accomplish-links a:hover {
  color: #000 !important;
}

/* Card rules */
.accomplish-card {
  flex: 3;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(29, 26, 26, 0.45);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.card-product {
  padding: 30px 15px 0 15px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.card-product span {
  color: #000;
  min-height: 50px;
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-product h3 {
  padding-top: 0;
  color: #000;
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 0;
  width: 100%;
  margin-bottom: 10px;
}

.card-product p {
  color: #808080;
  font-family: "Roboto";
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 100%;
}

.card-link {
  position: absolute;
  bottom: 10px;
  font-family: "Roboto";
  font-size: 0.73em;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
  color: #31ac00 !important;
  display: inline-flex;
  align-items: baseline;
}

.card-product a:hover {
  color: #000 !important;
}

.card-product.bottom {
  margin-top: 20px;
  background: #f4f4f4;
  padding: 30px 15px;
}

.card-product.bottom img {
  display: block;
  width: 100px;
  border-radius: 7px;
  overflow: hidden;
  border: 0;
}

.card-product.bottom a {
  color: #31ac00 !important;
  text-decoration: none !important;
  font-family: "Roboto";
  font-size: 1em !important;
  font-weight: 700;
}

.card-product.bottom a:hover {
  cursor: pointer;
  color: #31ac00 !important;
}

.card-product.bottom a > h3 {
  color: #31ac00;
  font-family: "Roboto";
  font-size: 0.75em;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.card-product.bottom h1 {
  font-family: "Roboto";
  font-size: 0.65em;
  font-weight: 500;
  color: #999;
  margin-top: 50px;
  margin-bottom: 0;
}
