.blog {
  font-family: "Roboto";
  padding: 50px 0 80px 0;
  background: #eee;
  display: flex;
  height: 100%;
}

.blog-container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.blog-row {
  margin-left: -15px;
  margin-right: -15px;
}

.blog-row a {
  color: #31ac00;
  text-decoration: none !important;
  background-color: transparent;
}

.blog-row img {
  margin-left: 30px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.blog-row h3 {
  font-family: "Roboto";
  text-align: left;
  padding-top: 0;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
  display: inline-block;
  color: #000;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  margin: 0 auto;
  height: 100%;
  outline: none;
  min-height: 180px;
  will-change: contents;
  justify-content: space-between;
}

/* Card rules */
.blog-card {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  min-height: 224px;
  width: 95%;
}
.blog-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.blog-card-img {
  background-size: cover;
  width: 40%;
  background-position: center;
  align-items: flex-end;
  justify-content: flex-start;
}

.blog-info {
  background-color: #fff;
  padding-top: 20px;
  width: 60%;
  position: relative;
}

.blog-info-top {
  display: flex;
  font-family: "Roboto";
}

.blog-info-top span {
  font-family: "Roboto";
  font-size: 0.7em;
  color: #4c4c4c;
  padding-left: 20px;
}

.share.alternate.icon {
  display: inline-block;
  color: #31ac00 !important;
  margin-left: auto;
  position: relative;
  top: -7px;
  right: 15px;
}

.blog-info-middle {
  margin-top: 25px;
  font-family: "Roboto";
}

.blog-info-middle a {
  color: #31ac00;
  text-decoration: none !important;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
}

.blog-info-middle a > p {
  line-height: 1.2em;
  color: #31ac00;
  font-size: 0.8em;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "Roboto";
  padding-left: 20px;
  padding-right: 25px;
}

.blog-info-middle > p {
  line-height: 1.2;
  color: #8e8787;
  font-family: "Roboto";
  font-size: 0.8em;
  padding-left: 20px;
  padding-right: 25px;
}

.blog-info-bottom {
  margin-top: 25px;
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-family: "Roboto";
}
.blog-info-bottom a {
  font-size: 0.7em;
  font-family: "Roboto";
  color: #31ac00;
  font-weight: 700;
}
