.communication-wrapper {
  display: block;
}

.communication-container {
  padding: 100px 15px 85px 15px;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.communication-container h2 {
  color: #000;
  font-family: "Roboto";
  margin: 0 0 70px 15px;
  font-weight: 400;
  font-size: 1.8em;
}

.communication-row {
  display: flex;
  justify-content: center;
}

.communication-item {
  width: 33%;
  text-align: center;
}

.communication-item a {
  display: inline-block;
  color: #31ac00 !important;
}

.communication-item i {
  font-size: 3.5em;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.phone.icon {
  transform: rotate(90deg) translateX(-25px) translateY(25px);
}

.communication-item h3 {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 300;
  color: #000;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
