.hero-img {
  background-position: 20% 10% !important;
  background-image: url(../images/digital-hero-img.jpg);
  width: 100vw;
  height: 450px;
}

.hero-img-fade {
  height: 450px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(229, 229, 229, 0) 100%
  ) !important;
}
.hero-text-container {
  width: 750px;
  padding: 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-text-row {
  margin-right: -15px;
  margin-left: -15px;
}
.hero-text-column {
  width: calc(200% / 3);
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-text-block {
  padding-top: 60px;
  max-width: 90%;
  color: #fff;
  display: inline-block;
}
.hero-text-block h2 {
  text-shadow: 1px 1px 1px #000000;
  color: #fff;
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-text-block p {
  text-shadow: 1px 1px 1px #000000;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.2em !important;
  margin-top: 10px;
  margin-bottom: 0;
}

.hero-text-block a {
  color: #fff;
  background: #31ac00;
  border-radius: 30px;
  padding: 22px 40px;
  display: inline-block !important;
  font-size: 16px;
  line-height: 1;
  font-family: roboto !important;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 25px 0;
}

.hero-text-block a:hover {
  background: #258001;
}
