.digital-wrapper {
  padding: 40px 0 30px 0;
  overflow: auto;
}

.digital-container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.digital-row {
  margin-left: -15px;
  margin-right: -15px;
}

.digital-headline {
  padding-right: 10px;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 30px;
}

.digital-headline > h2 {
  margin-top: 0;
  color: #000;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 1.8em;
}

.digital-headline > a {
  font-family: "Roboto";
  font-weight: 700;
  word-wrap: normal;
  color: #31ac00 !important;
  display: inline-flex;
  align-items: baseline;
  font-size: 16px;
}

.digital-headline > a:hover {
  outline: 0;
  color: #000 !important;
}

.digital-items-container {
  display: block;
  width: 100%;
  padding-left: 70px;
  padding-right: 35px;
  padding-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.digital-items-row {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.digital-items-row a {
  color: #31ac00;
  font-size: 1.1rem;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  width: 180px;
  height: 100px;
  align-items: center;
  display: flex !important;
  flex-direction: column;
}

.digital-items-row i {
  font-weight: 100 !important;
  font-size: 4rem;
  display: block;
}

.desktop.icon,
.desktop-icon {
  color: #000 !important;
}
