.plan-wrapper {
  background-color: #eee;
  display: block;
}

.plan-section {
  display: flex;
  padding: 50px 15px;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.plan-info {
  flex: 1;
}

.plan-info h2 {
  font-family: "Roboto";
  color: #000;
  font-size: 1.8em;
  font-weight: 400;
  margin: 35px 0 0 0;
}

.plan-info p {
  font-family: "Roboto";
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.4;
  margin: 20px 0;
  padding-right: 20px;
  color: #808080;
}

.plan-links {
  display: flex;
  flex-direction: column;
}

.plan-link {
  font-family: "Roboto";
  font-size: 0.85em;
  font-weight: 700;
  margin-bottom: 15px;
  color: #31ac00 !important;
  display: inline-flex;
  align-items: baseline;
}

.plan-link:hover {
  color: #000 !important;
}

/* Card rules */
.plan-card {
  flex: 3;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(29, 26, 26, 0.45);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.card-product {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 0 15px;
  text-align: center;
  position: relative;
}

.card-product span {
  display: flex;
}

.product-link {
  position: absolute;
  bottom: 10px;
  color: #31ac00 !important;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.75em;
}

.card-product.bottom {
  margin-top: 20px;
  background: #f4f4f4;
  padding: 30px 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-product.bottom p {
  margin-bottom: 20px;
}
