.prensa-container {
  padding-bottom: 40px;
  overflow: auto;
  width: 100%;
  padding: 0;
  background: #eee;
}

.prensa-title {
  width: 94%;
  margin: 0 auto;
  padding: 40px 0 20px 15px;
}

.prensa-title a {
  color: #000;
  display: block;
  text-decoration: none !important;
}

.prensa-title h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.prensa-cards-wrapper {
  width: 96%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  outline: 0;
}

.prensa-link {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px 0 90px 15px;
  width: 94%;
  margin: 0 auto;
}

.prensa-link a {
  font-family: "Roboto";
  font-size: 0.9em;
  color: #31ac00 !important;
  font-weight: 500;
  display: inline-flex;
  align-items: baseline;
  text-decoration: none !important;
}

.prensa-link a:hover {
  color: #000 !important;
}

.angle.right.icon {
  padding: 0;
  margin: 0;
}

/* Prensa Card rules */
.prensa-card {
  margin-right: 0;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

.prensa-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.card-img {
  width: 40%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  display: flex;
  color: #fff;
  justify-content: flex-start;
  align-items: flex-end;
}

.card-info {
  background-color: #fff;
  padding: 20px;
  width: 60%;
  position: relative;
}

.info-top {
  display: flex;
}

.info-top span {
  font-family: "Roboto";
  font-weight: 400;
  color: #4c4c4c;
  font-size: 0.7em;
}

.share-icon {
  margin-left: auto;
  position: relative;
  right: -20px;
}

.share.alternate.icon {
  color: #31ac00;
}

.info-middle {
  margin-top: 25px;
}

.info-middle a {
  color: #31ac00;
}

.info-middle p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.8em;
  margin-bottom: 50px;
  line-height: 1.3;
}

.info-bottom {
  margin-top: 40px;
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 20px;
}

.info-bottom a {
  margin-left: auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.7em;
  color: #31ac00;
}
