.podcast-wrapper {
  height: 100%;
}
.podcast {
  padding: 50px 0 25px 0;
  background-color: #eeeeee;
  height: 100%;
}

.podcast-container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.podcast-row img {
  margin-left: 15px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.podcast-row h3 {
  text-align: left;
  padding-top: 0;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  display: inline-block;
  color: #000;
  font-family: "Roboto";
}

.podcast-column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.podcast-column h4 {
  font-family: "Roboto";
  font-size: 1em;
  color: #000 !important;
  font-weight: 500;
}

/* Card rules */
.podcast-cards {
  display: flex;
  justify-content: space-between;
}

.podcast-card {
  min-height: 125px;
  display: flex;
  margin-top: 30px;
  width: 48%;
  flex-shrink: 2;
}

.podcast-sub-card {
  background-color: #fff;
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
}

.podcast-sub-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.podcast-sub-card a {
  color: #31ac00;
  background-color: transparent;
  text-decoration: none !important;
}

.podcast-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: calc(100% / 3);
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.podcast-time {
  position: absolute;
  z-index: 1;
  padding: 7px 0;
  width: 95%;
}

.podcast-time span {
  color: #fff;
  font-size: 0.8em;
  background: #31ac00;
  padding: 8px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.podcast-sub-card-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: calc(100% / 3 * 2);
  position: relative;
  float: left;
}

.podcast-sub-card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.podcast-sub-card-text > p {
  color: #8e8787;
  font-weight: 400;
  font-size: 0.7em;
  margin-top: 3px;
}

.podcast-sub-card-text > a > p {
  color: #31ac00;
  font-size: 0.8em;
  margin-bottom: 5px;
  font-weight: 500;
}

.podcast-sub-card-button {
  display: flex;
}
.share-icon {
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: #ed8b00 !important;
}

/* Video rules */
.videos-wrapper {
  background-color: #eeeeee !important;
}
.videos {
  display: block;
}
.videos-row {
  margin-left: -15px;
  margin-right: -15px;
}
.videos-column {
  width: 100%;
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.videos-column a {
  color: #31ac00;
  text-decoration: none !important;
  font-family: "Roboto";
  font-weight: 700;
  background-color: transparent;
}

.videos-column h4 {
  font-family: "Roboto";
  font-size: 1em;
  color: #000 !important;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.video-play {
  padding: 0;
  display: block;
}

.video-play-row {
  margin-left: -15px;
  margin-right: -15px;
}

.video-play > a {
  float: left;
  position: relative;
  font-size: 0.9em;
  top: 15px;
  color: #31ac00;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.video-play > a:hover {
  color: #000 !important;
}
.video-play > a > i {
  padding: 0;
  margin: 0;
  font-weight: 100;
}
.video-cards {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.video-card {
  width: 50%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.video-card-img:hover {
  background-color: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4),
    inset 0 -40px 40px -15px rgba(0, 0, 0, 0.6);
}

.video-card-fade {
  height: 100%;
  box-shadow: inset 0 -40px rgba(0, 0, 0, 6);
  z-index: 2;
}
.video-card-img {
  background-position: center;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: inset 0 -40px 40px -15px rgba(0, 0, 0, 0.6);
}

.video-card-row {
  margin-left: -15px;
  margin-right: -15px;
}

.video-card-time {
  width: 96%;
  position: absolute;
  z-index: 1;
  padding: 7px 0;
  text-align: right;
  float: right;
}
.video-card-time span {
  color: #fff;
  background: #31ac00;
  padding: 8px 10px;
  font-weight: 400;
  font-size: 0.7em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.video-card-column-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-size: cover;
  z-index: 1;
  width: 100%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.video-card-column-icon a,
.video-card-text a {
  text-decoration: none !important;
  background-color: transparent;
}

.video-card-column-icon a:visited,
.video-card-text a:visited {
  color: #31ac00;
}

.video-card-column-icon i {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
}

.video-card-column {
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  padding: 0 25px;
  width: 100%;
  float: left;
}

.video-card-text {
  padding: 0 !important;
  z-index: 15;
  width: 92%;
  float: left;
  position: relative;
}

.video-card-text h3 {
  display: inline-block;
  font-size: 0.7em;
  width: 78%;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
.video-card-text p {
  color: #fff;
  margin: 0 0 10px 0;
  line-height: 1.2;
  font-size: 0.7em;
}
.video-card-button {
  position: relative;
  top: -10px;
  padding: 0;
  z-index: 2;
}

.share.alternate.icon {
  float: right;
  color: #31ac00 !important;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 0px;
  cursor: pointer;
}
